
<div id="form3" class="fb-body">
  <div id = "newte">
    <h2 style="color: black">Create a new account</h2>
    <h5 style="color: black">It's free and always will be.</h5>
  </div>

  <input placeholder="First Name" type="text" id="namebox1" name="name1" />
  <input placeholder="Last Name" type="text"  id="namebox2" /> <br>

  <input placeholder="Emai" type="text" id="mailbox1" /><br>
  <input placeholder="Password" type="password" id="mailbox3"/><br>

  <input type="date" id="mailbox4" /><br><br>

  <input type="radio"   name="sex" value="male" id="r-b1"/>Male
  <input type="radio" name="sex" value="female" id="r-b2"/>Female<br><br>

  <p id="intro4">By clicking Create an account, you agree to our Terms and that
    you have read our Data Policy, including our Cookie Use.</p>
  <input type="submit" class="button2" value="Create an account" />
  <br><hr>
  <p id="intro5">Create a Page for a celebrity, band or business.</p>

</div>
