.fb-body{
  position:absolute;
  margin-left: 220px;
  top:60px;
  width:100%;
  height:645px;
}

#form3{
  left:750px;
  font-family:verdana;
  font-size:20px;
  color:#142170;
  width:450px;
  height:495px;
  padding-top: 10px;
}

#namebox1{
  width:190px;
  height:40px;
  border-radius:5px 5px 5px 5px;
  background:white;
  padding:10px;
  font-size:18px;
  margin-top:8px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
}
#namebox2{
  width:190px;
  height:40px;
  border-radius:5px 5px 5px 5px;
  background:white;
  padding:10px;
  font-size:18px;
  margin-top:8px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
  position: absolute;
}

#mailbox1,#mailbox2, #mailbox3, #mailbox4{
  width:408px;
  height:40px;
  border-radius:5px 5px 5px 5px;
  background:white;
  padding:10px;
  font-size:18px;
  margin-top:8px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
}
#r-b1, #r-b2{
  font-size:12px;
  height:15px;
  width:15px;
}
.button2{
  width:250px;
  height:40px;
  left:750px;
  top:625px;
  background:green;
  font-family:verdana;
  font-size:18px;
  color:white;
  border-radius:5px 5px 5px 5px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
  cursor:pointer;
  outline:none;

}
#intro4{
  font-family:verdana;
  font-size:12px;
  color:gray;

}
#intro5{
  font-family:verdana;
  font-size:14px;
  color:gray;

}
