<div class="fb-body-footer">
  <div id="fb-body-footer-base" class="fb-body-footer">English (UK) &emsp; हिन्दी &emsp;ਪੰਜਾਬੀ  &emsp;اردو ગુજરાતી &emsp;বাংলাத&emsp; மிழ்&emsp;త ెలుగుമല&emsp; Español<br><hr>
    Sign Up&emsp;&emsp;Log In &emsp;&emsp; Messenger	&emsp;&emsp;Facebook Lite	Mobile&emsp;&emsp;	Find Friends	People&emsp;&emsp;Pages	&emsp;&emsp;Places&emsp;&emsp;	Games	<br>Locations
    &emsp;&emsp;Celebrities	&emsp;&emsp;Marketplace	&emsp;&emsp;Groups	&emsp;&emsp;Recipes	&emsp;&emsp;Sports	&emsp;&emsp;Look&emsp;&emsp;	Moments	&emsp;&emsp;Instagram	&emsp;&emsp;<br>About	&emsp;&emsp;Create ad	&emsp;&emsp;Create Page
    &emsp;&emsp;Developers&emsp;&emsp;	Careers	&emsp;&emsp;Privacy&emsp;&emsp;	Cookies	&emsp;&emsp;AdChoices	&emsp;&emsp;  </div>
</div>
